@keyframes spin {
  0% {
    transform rotateZ(0)
  }

  100% {
    transform rotateZ(360deg)
  }
}

@keyframes skeleton {
  0% {
    transform translateX(-100%)
  }

  100% {
    transform translateX(100%)
  }
}
