@import 'variables'

*, *::before, *::after {
  box-sizing inherit
}

html {
  box-sizing border-box
  font-size $font-size-basic
  -webkit-text-size-adjust 100%
}

body {
  margin 0
  color $color-text
  font-family Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif
  font-size $font-size-basic
  line-height rigor(10 / 7) em
}

button {
  font-size 100%
  line-height 1.15
}

h1, h2, h3, h4, h5, h6 {
  font-weight normal
}

[data-v-app] {
  transition 0.8s filter ease

  .dimmed {
    transition-duration 0s
  }
}
